body{
    background-color:#000;
    color: #fff;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: xx-large;
    cursor: url(r.cur),default;
}



.navbar-links ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    border-bottom: 2px solid black;
    height: 50px;
    width: 100px;
    align-items: center;
    text-align: center;
    transition:0.7s;;
    border-radius: 5%;
}

.btn:hover{
    box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333;
    border-radius: 10%;
    border-bottom-color: #fff;
    /* cursor:url(Ok.cur),default; */
}

.navbar-links ul li a{
    text-align: center;
    text-decoration: none;
    color: #ffff;
}

.ok{
    width: 250px;
    height:250px;
    border-radius: 12%;
    border-color:white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    transition: 0.7s;
}

.ok:hover{
    box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333;
    border-radius: 15%; 
    transform:rotate(0.5deg)
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  }
  
  .donut-chart {
    position: relative;
      width: 200px;
    height: 200px;
      margin: 0 auto 2rem;
      border-radius: 100%;
      transition:0.7s;
   }
  p.center {
    background:rgb(255,117,24);
    position: absolute;
    text-align: center;
  font-size: 28px;
    top:0;left:0;bottom:0;right:0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
  }
  
  .donut-chart:hover{
      transform: rotate(-360deg);
  }
      
  .portion-block {
      border-radius: 50%;
      clip: rect(0px, 200px, 200px, 100px);
      height: 100%;
      position: absolute;
      width: 100%;
    }
  .circle {
      border-radius: 50%;
      clip: rect(0px, 100px, 200px, 0px);
      height: 100%;
      position: absolute;
      width: 100%;
      font-family: monospace;
      font-size: 1.5rem;
      border-color: solid 12px white;
      transition: 0.7s;
    }
      
      
  #part1 {
      transform: rotate(0deg);
    }
  
      #part1 .circle {
          border-color: #fff;
          background-color: #333;
          animation: first 1s 1 forwards;
        }
      
      
  #part2 {
      transform: rotate(100deg);
    }
  #part2 .circle {
      background-color: rgba(255, 99, 2);
      animation: second 1s 1 forwards 1s;
    }
  #part3 {
      transform: rotate(250deg);
  }
      #part3 .circle {
          background-color: rgb(240, 240, 240);
          animation: third 0.7s 1 forwards 2s;
      }
      
      

  @keyframes first {
      from {transform: rotate(0deg);}
      to {transform: rotate(100deg);}
  }
      
  @keyframes second {
      from {transform: rotate(0deg);}
      to {transform: rotate(150deg);}
  }
      
  @keyframes third {
      from {transform: rotate(0deg);}
      to {transform: rotate(111deg);}
  }

  #demo{
      color: white;
  }

  #myChart{
    /* border-radius: 4%; */
    transition: .7s;
    /* border-color:white;
    border-top: solid 2px white;
    border-bottom: solid 2px white; */
  }

  #myChart:hover{
    box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333; 
    transform: rotate(0.5deg);
  }

#myChart2:hover{
    box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333; 
    transform: rotate(0.5deg);


}

#myChart3:hover{
  box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333; 
  transform: rotate(0.5deg);

}

.title{
  /* display: inline-block; */
  width:fit-content;
  margin-right: 20px;
  border-bottom: 2px solid black;
  transition:0.7s;;
}

.title:hover{
  box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333;
  border-bottom-color: #fff;
}

.para{
  position: absolute;
  left: 770px;
  top:200px;
  width: auto;
  height:auto;
  border-radius: 2%;
  border-color:white;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  transition: 0.7s;
}

.para:hover{
  box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333;
   border-radius: 3%; 
  transform:rotate(0.5deg);
  border-bottom: solid 4px white;
}


@media only screen and (max-width: 800px){
  .alien{
    display:none;
  }

  .boom{
    display: none;
  }
  .gcse-search{
    display: none;
  }
  .myChart3{
    display: none;;
  }
  .para{
    display: none;
  }

  .para2{
    display: none;
  }
  .More{
    display: none;
  }
  .okq{
    display: none;
  }
  .title2{
    display: none;
  }
  .More2{
    display: none;
  }
}
.More{
  width: 80px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-right:2px solid #fff;
  position: absolute;
  left: 1050px;
  top:500px;
  transition: 0.7s;
}

.More a{
  text-decoration: none;
  color: white;
}

.More:hover{
  box-shadow: 1px 2px 3px 2px rgb(255,117,24);
  border-radius: 0.5%; 
  transform:rotate(0.5deg);
  border-bottom: solid 4px #333;
  /* color: rgb(255,117,24); */
  background-color: #333;
  transform: scale(200px);
}

.para2{
  position: absolute;
  left: 770px;
  top:700px;
  width: auto;
  height:auto;
  border-radius: 2%;
  border-color:white;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  transition: 0.7s;
}

.para2:hover{
  box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333;
   border-radius: 3%; 
  transform:rotate(0.5deg);
  border-bottom: solid 4px white;
}

.okq{
  position: absolute;
  /* left: 70px; */
  top:700px;
}

.title2{
  position: absolute;
  left: 10px;
  top:665px;
}

.More2{
  width: 80px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-right:2px solid #fff;
  position: absolute;
  left: 1050px;
  top:1000px;
  transition: 0.7s;
}
.More2 a{
  text-decoration: none;
  color: white;
}

.More2:hover{
  box-shadow: 1px 2px 3px 2px rgb(255,117,24);
  border-radius: 0.5%; 
  /* transform:rotate(0.5deg); */
  border-bottom: solid 4px #333;
  /* color: rgb(255,117,24); */
  background-color: #333;
  /* transform: scale(200px); */
}

.tweet{
  width: 39%;
  height: 300px;
}

.imgg{
  position: absolute;
  top:10px;
  left: 600px;
  margin: 10px;
}