body{
    background-color:#000;
    color: #fff;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: xx-large;
    cursor: url(r.cur),default;
}

.navbar-links ul{
    /* border-bottom:2px solid black   */
}

.navbar-links ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    border-bottom: 2px solid black;
    height: 50px;
    width: 100px;
    align-items: center;
    text-align: center;
    transition:0.7s;;
    border-radius: 5%;
}

.btn:hover{
    box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333;
    border-radius: 10%;
    border-bottom-color: #fff;
    /* cursor:url(Ok.cur),default; */
}

.navbar-links ul li a{
    text-align: center;
    text-decoration: none;
    color: #ffff;
}

.ok{
    width: 250px;
    height:250px;
    border-radius: 12%;
    border-color:white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    transition: 0.7s;
}

.ok:hover{
    box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333;
    border-radius: 15%; 
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  }
  
  .donut-chart {
    position: relative;
      width: 200px;
    height: 200px;
      margin: 0 auto 2rem;
      border-radius: 100%;
      transition:0.7s;
   }
  p.center {
    background:rgb(255,117,24);
    position: absolute;
    text-align: center;
  font-size: 28px;
    top:0;left:0;bottom:0;right:0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
  }
  
  .donut-chart:hover{
      transform: rotate(-45deg);
  }
      
  .portion-block {
      border-radius: 50%;
      clip: rect(0px, 200px, 200px, 100px);
      height: 100%;
      position: absolute;
      width: 100%;
    }
  .circle {
      border-radius: 50%;
      clip: rect(0px, 100px, 200px, 0px);
      height: 100%;
      position: absolute;
      width: 100%;
      font-family: monospace;
      font-size: 1.5rem;
      border-color: solid 12px white;
    }
      
      
  #part1 {
      transform: rotate(0deg);
    }
  
      #part1 .circle {
          border-color: #fff;
          background-color: #333;
          /*transform: rotate(76deg);*/
          animation: first 1s 1 forwards;
        }
      
      
  #part2 {
      transform: rotate(100deg);
    }
  #part2 .circle {
      background-color: rgba(255, 99, 2);
      animation: second 1s 1 forwards 1s;
    }
  #part3 {
      transform: rotate(250deg);
  }
      #part3 .circle {
          background-color: rgb(240, 240, 240);
          animation: third 0.7s 1 forwards 2s;
      }
      

  @keyframes first {
      from {transform: rotate(0deg);}
      to {transform: rotate(100deg);}
  }
      
  @keyframes second {
      from {transform: rotate(0deg);}
      to {transform: rotate(150deg);}
  }
      
  @keyframes third {
      from {transform: rotate(0deg);}
      to {transform: rotate(111deg);}
  }
