body{
    background-color:#000;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: xx-large;
}


.navbar-links ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    border-bottom: 2px solid black;
    height: 50px;
    width: 100px;
    align-items: center;
    text-align: center;
    border-radius: 5%;
}

.btn:hover{
    box-shadow: 5px 4px 6px 4px rgb(255,117,24), 5px 4px 6px 4px #333
}

.navbar-links ul li a{
    text-align: center;
    text-decoration: none;
    color: white;
}
